/* Vars */
:root {
  --background-main: #4b4b4b;
  --background-second: #252525;
  --accent-color-main: #e8e8c9;
  --warn-color: #ffb5b2;
  --border-radius: 20%;
  --border-radius-sm: 5%;
}
/* Global */
* {
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  transition: 0.2s linear;
}
button svg {
  overflow: visible;
}
body {
  font-family: "JetBrains Mono", monospace;
  background: var(--background-main);
  color: var(--accent-color-main);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
/* Header */
.header {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
  padding: 0px 20px;
  box-sizing: border-box;
  grid-template-areas: "logo themeIcon";
  justify-items: right;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  background: var(--background-second);
  /*border-bottom: solid 1px var(--accent-color-main);*/
}
.header_logo {
  grid-area: logo;
  width: fit-content;
  text-wrap: nowrap;
  margin: 10px 0;
  cursor: pointer;
  user-select: none;
  font-family: 'Bowlby One SC', sans-serif;
  font-size: 40px;
  text-decoration: none;
  color: var(--accent-color-main);
}
.header_logo:hover {
  color: oklch(from var(--accent-color-main) calc(l + 0.15) c h)
}
.header_theme-icon_button1,
.header_theme-icon_button2 {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  width: 46px;
  height: 46px;
}
.header_theme-icon {
  grid-area: themeIcon;
  margin: 10px 0;
  cursor: pointer;
}
.bi.bi-moon,
.bi.bi-brightness-high {
  padding: 10px;
  border: solid 3px var(--accent-color-main);
  border-radius: var(--border-radius);
  stroke: var(--accent-color-main);
}
.header_theme-icon:hover .bi.bi-moon,
.header_theme-icon:hover .bi.bi-brightness-high {
  background: var(--accent-color-main);
  stroke: var(--background-second);
}

.empty-msg {
  position: absolute;
  top: 30%;
  width: 100%;
  align-content: center;
  text-align: center;
}
/* Main */
.main {
  margin: 10px;
  margin-top: 91.111px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-template-rows: auto;
  justify-items: center;
  gap: 10px;
}
.main_card {
  width: 220px;
  height: 220px;
  border-radius: var(--border-radius-sm);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  cursor: pointer;
}
.main_card-add {
  border: solid 3px var(--accent-color-main);
  background: var(--background-main);
  width: 220px;
  height: 220px;
  border-radius: var(--border-radius-sm);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bi.bi-plus-lg {
  stroke: var(--accent-color-main);
}
.main_card-add:hover,
.main_card:hover {
  filter: brightness(0.9);
}
/* Footer */
.footer {
  margin-top: auto;
  height: 200px;
  width: 100%;
  background: var(--background-second);
  border-top: solid 1px var(--accent-color-main);
  margin-top: auto;
  text-align: center;
  color: #383838;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer_text {
  cursor: default;
  user-select: none;
}
/* Adding */
.adding {
  width: 40px;
  height: 40px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 1000;
  cursor: pointer;
  border: solid 3px var(--accent-color-main);
  background: var(--background-main);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
}
.adding:hover {
  background: var(--accent-color-main);
}
.adding_icon {
  stroke: var(--accent-color-main);
}
.adding:hover .adding_icon {
  stroke: var(--background-main);
}
/* Preview */
.preview_container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
}
.preview_image {
  max-width: 80vw;
  max-height: 80vh;
  object-fit: contain;
  border-radius: 15px;
  touch-action: none;
  transition: transform 0.1s ease-out;
}
.preview_controls {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1001;
}
.bi.bi-trash::before {
  display: inline-block;
}
.bi.bi-trash {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  background: var(--background-main);
  border-radius: var(--border-radius);
  border: solid 3px var(--accent-color-main);
  font-size: 21pt;
  color: var(--accent-color-main);
  line-height: 1;
  cursor: pointer;
}
.bi.bi-trash:hover {
  border-color: var(--warn-color);
  background: var(--warn-color);
  color: var(--background-main);
}

.confirm_wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
}
.confirm_container {
  width: 300px;
  height: fit-content;
  background: var(--background-second);
  border-radius: 15px;
  display: grid;
  grid-template-rows: auto auto;
  gap: 10px;
  justify-content: center;
  padding: 10px;
}
.confirm_container_text {
  text-align: center;
  color: var(--accent-color-main);
}
.confirm_container_buttons {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  height: 30px;
}
.confirm_container_buttons_confirm,
.confirm_container_buttons_cancel {
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
}
.confirm_container_buttons_confirm {
  background: var(--background-second);
  color: oklch(from var(--accent-color-main) calc(l - 0.3) c h);
  border-color: var(--background-second)
}
.confirm_container_buttons_confirm:hover {
  color: var(--accent-color-main);
  border-color: oklch(from var(--accent-color-main) calc(l - 0.3) c h);
}
.confirm_container_buttons_cancel {
  background: var(--accent-color-main);
  color: var(--background-second);
  border-color: var(--accent-color-main);
}
.confirm_container_buttons_cancel:hover {
  background: var(--background-second);
  color: var(--accent-color-main);
  border-color: oklch(from var(--accent-color-main) calc(l - 0.3) c h);
}
@media (max-width: 469px) {
  .main_card,
  .main_card-add {
    width: 100%;
    border-radius: 15px;
  }
  .preview_controls,
  .adding {
    justify-self: center;
    margin: auto;
    left: 0;
    right: 0 !important;
  }
}
